*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 25px;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
}

textarea::first-line {
  font-weight: 600;
}

textarea {
  all: unset;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;

  font-size: 2rem;
  line-height: 4rem;
  padding: 0px 0px 0 5rem;
  word-break: break-all;

  background-color: snow;
  background-image: linear-gradient(
      90deg,
      transparent calc(4rem - 2px),
      salmon calc(4rem - 2px),
      salmon 4rem,
      transparent 4rem
    ),
    linear-gradient(
      transparent calc(4rem - 1px),
      lightblue calc(4rem - 1px),
      blue 4rem,
      transparent
    );
  background-size: 100% 4rem;
  background-attachment: local;
}
